@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-300;
}

@font-face {
    font-family: DSEG14Classic-BoldItalic;
    src: url("src/resources/DSEG14Classic-BoldItalic.ttf"); /*DSEG7Classic-BoldItalic */
}

@font-face {
    font-family: Tommy;
    src: url("src/resources/Tommy.otf");
}

html {
    background-image: linear-gradient(transparent, transparent 3px, #222);
    background-size: 4px 4px;
    background-color: black;
    height: 100%;
}

#heading {
    font-family: DSEG14Classic-BoldItalic;
    filter: drop-shadow(1px 2px 1px #000000ab);
}

#credit {
    font-family: Tommy;
    color: rgb(75, 75, 75);
}

#screen {
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.61);
}

#screen_text {
    font-family: DSEG14Classic-BoldItalic;
    filter: drop-shadow(1px 2px 1px #000000ab);
}

#history-screen {
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.61);
}

#history {
    font-family: DSEG14Classic-BoldItalic;
    filter: drop-shadow(1px 2px 1px #000000ab);
}

#clear-history-btn {
    font-family: Tommy;
    filter: drop-shadow(0px 5px 6px #000000a4);
}

#buttons {
    font-family: Tommy;
    filter: drop-shadow(0px 5px 6px #000000a4);
}

#buttons > div > button:hover {
    filter: brightness(1.25);
}

#calc_body {
    filter: drop-shadow(0px 5px 5px #000000d7);
}

.heading-shadow-classic {
    text-shadow: #2ff5c7 0px 0 10px;
}

.icon-drop-classic {
    filter: drop-shadow(0 0 0.3rem #2ff5c7);
}

.icon-drop-cherry {
    filter: drop-shadow(0 0 0.3rem #dc234b);
}

.icon-drop-grape {
    filter: drop-shadow(0 0 0.3rem #890aff);
}

.heading-shadow-cherry {
    text-shadow: #dc234b 0px 0 10px;
}

.heading-shadow-grape {
    text-shadow: #890aff 0px 0 10px;
}

.text-shadow-classic {
    text-shadow: #2ff5c788 0px 0 10px;
}

.text-shadow-cherry {
    text-shadow: #dc234b 0px 0 15px;
}

.text-shadow-grape {
    text-shadow: #890aff 0px 0 15px;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f1f1f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
